schema/csdr7a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: ESMA
Collection: CSDR - Settlement Fails - Article 7 Reporting
Usage Guideline: CSDR - Settlement Fails - Article 7 Reporting - SettlementFailsAnnualReportV01_auth.101.001.01
Base Message: auth.101.001.01
Date of publication: 05 February 2020
URL: https://www2.swift.com/mystandards/#/mp/mx/_Ee_WEEf9EeqVRqWy7PaMdg/_Ejh30Ef9EeqVRqWy7PaMdg
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2020-02-05T10:52:54+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.101.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.101.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EUR</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Contact9__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Contact9__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details of the contact person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the party, such as a person or a team, responsible for the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhneNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Phone number of the person responsible for the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EmailAdr" type="Max256Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmailAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Electronic mail (e-mail) address of the of the person responsible for the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fctn" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Function</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Function of the person responsible for the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriod2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriod2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SttlmFlsAnlRpt" type="SettlementFailsAnnualReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max2048Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 2048 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max20PositiveDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max20PositiveNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max256Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, that is, in hundredths, for example, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The collection of information which identifies a specific phone or FAX number as defined by telecom services.
It consists of a "+" followed by the country code (from 1 to 3 characters) then a "-" and finally, any combination of numbers, "(", ")", "+" and "-" (up to 30 characters).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedSystemIdentificationMax24Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedSystemIdentificationMax24Text</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}[A-Z]{2,2}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesSettlementSystemIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementSystemIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the securities settlement system used in a settlement process.&#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SysId" type="RestrictedSystemIdentificationMax24Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SysNm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtryOfJursdctn" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfJurisdiction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country code for the jurisdiction in which the CSD is established.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CSDLglNm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDLegalName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Corporate name of the CSD.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity identification of the CSD operating the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnsblPty" type="Contact9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsibleParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party (such as a person or a team) responsible for the report sent by the CSD.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDataRate1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDataRate1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the volume and value percentage rates of settlement instructions.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="NbOfInstrs" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfInstructions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the rate of settlement fails, based either on the number of settlement instructions or on the value of settlement instructions, is lower than the ceiling rate as specified in the local regulation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValOfInstrs" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueOfInstructions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the rate of settlement fails, based either on the value of settlement instructions, is lower than the ceiling rate as specified in the local regulation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDataRate2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDataRate2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the volume and value percentage rates of settlement instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Vol" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Volume</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the rate, in terms of volume, of the failed settlement instructions compared to the total volume, of settlement instructions performed (settled and failed) during the period covered by the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Val" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the rate, in terms of value, of the failed settlement instructions compared to the total value of settlement instructions performed (settled and failed) during the period covered by the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDataVolume2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDataVolume2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Aggregated values and volumes of settlements instructions for a specific type of financial instruments, type of transaction, type of clients, and cash transfers.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Vol" type="Max20PositiveNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Volume</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated volume of settlement instructions, in terms of failed, settled transactions and total transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Val" type="Max20PositiveDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated value of settlement instructions, in terms of failed, settled transactions and total transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsAnnualReportV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsAnnualReportV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The SettlementFailsAnnualReport is sent by a central securities depository or by a central bank operating a securities settlement system to the CSD competent authority to provide annual aggregated data on the number and the nature of settlement instructions which failed to settle on their intended settlement day. The report contains annual statistical information on the number and value of overall settlement instructions, settled instructions, and settlement fails that occurred during a specified period and within a given securities settlement system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptHdr" type="SettlementFailsReportHeader2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies parameters of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AnlAggt" type="SettlementFailsData4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnnualAggregate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated annual volume and value of settled, failed, total of failed settlement instructions performed during the period covered by the report, for financial instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsData4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsData4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated data of settlement fails instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ttl" type="SettlementTotalData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Total</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total of all types of settlement transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FailrRsn" type="SettlementFailureReason3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailureReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details on the reason for the settlement fails.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ElgblForDrgtn" type="SettlementFailsDerogation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EligibleForDerogation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Eligible for derogation under the local regulation on settlement discipline, including the justification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsDerogation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsDerogation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the derogation related data of settlement fails instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ElgbltyInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EligibilityIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines whether the item is eligible for derogation or not.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Justfn" type="SettlementFailsJustification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Justification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Justification for the derogation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsJustification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsJustification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the justification for the derogation justification on the reporting of settlement fails instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Val" type="Max20PositiveDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the value of settlement fails, which does not exceed the limit value as specified in the local regulation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rate" type="SettlementDataRate1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the rate of settlement fails, which does not exceed the limits rate as specified in the local regulation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsReportHeader2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsReportHeader2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies parameters of the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the reporting timestamp, when the report was submitted from the CSD to the Competent Authority.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptgPrd" type="DatePeriod2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period covered by the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ccy" type="ActiveCurrencyCode_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the currency used to report the aggregated values of the transactions.&#13;
&#13;
Usage: this is the currency in which the values have to be reported, when no explicit currency is provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptSts" type="TransactionOperationType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the status of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesSttlmSys" type="SecuritiesSettlementSystemIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementSystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the securities settlement system used in a settlement process.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailureReason2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailureReason2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the settlement fails as defined in the relevant regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MainRsns" type="Max2048Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MainReasons</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Main reasons for settlement fails during the reporting period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EffcncyImprvmt" type="Max2048Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EfficiencyImprovement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measures to improve settlement efficiency.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailureReason3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailureReason3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the settlement fails as defined in the relevant regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Desc" type="SettlementFailureReason2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed description of the failure reasons.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTotalData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementTotalData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated data of settlement instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sttld" type="SettlementDataVolume2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated volume and value of settlement instructions settled during the period covered by the report, for financial Instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Faild" type="SettlementDataVolume2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Failed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated volume and value of settlement instructions failed during the period covered by the report, for financial Instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ttl" type="SettlementDataVolume2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Total</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated total volume and value of settlement instructions performed (settled and failed) during the period covered by the report, for financial Instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaildRate" type="SettlementDataRate2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailedRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate of failed settlement instructions compared to the total volume and value, of settlement instructions performed (settled and failed) during the period covered by the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionOperationType4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the transaction operation action type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEWT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a new transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amendment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction amends a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction requests the deletion/cancellation of a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
