schema/csdr9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: ESMA
Collection: CSDR - Internalised Settlement Reporting
Usage Guideline: CSDR - Internalised Settlement Reporting_SettlementInternaliserReportV01_auth.072.001.01
Base Message: auth.072.001.01
Date of publication: 01 February 2019
URL: https://www2.swift.com/mystandards/#/mp/mx/_IvZ4kCYJEemmKYoLK8xIBg/_mIRakCYKEemmKYoLK8xIBg
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2019-02-01T15:03:24+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.072.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.072.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContactDetails4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContactDetails4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Communication device number or electronic address used for communication.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the liaison at the Settlement Internaliser.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhneNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Phone number of the liaison at the Settlement Internaliser.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EmailAdr" type="Max2048Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmailAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Electronic mail (e-mail) address of the liaison at the Settlement Internaliser.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fctn" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Function</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Function of the liaison at the Settlement Internaliser.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SttlmIntlrRpt" type="SettlementInternaliserReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact2UpperCaseAlphaText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact2UpperCaseAlphaText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an upper case alphabetic non numeric string with an exact length of two characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InternalisationData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InternalisationData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated data and failed rate of internalised settlement instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Aggt" type="InternalisationData2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Aggregate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated volume and value of settled,  failed, total of internalised settlement instructions performed during the period covered by the report, for financial instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaildRate" type="InternalisationDataRate1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailedRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate of failed internalised settlement instructions compared to the total volume and value, of internalised settlement instructions performed (settled and failed) during the period covered by the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InternalisationData2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InternalisationData2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated data of internalised settlement instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sttld" type="InternalisationDataVolume1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated volume and value of internalised settlement instructions settled during the period covered by the report, for financial Instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Faild" type="InternalisationDataVolume1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Failed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated volume and value of internalised settlement instructions failed during the period covered by the report, for financial Instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ttl" type="InternalisationDataVolume1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Total</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated total volume and value of internalised settlement instructions performed (settled and failed) during the period covered by the report, for financial Instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InternalisationDataRate1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InternalisationDataRate1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the volume and value percentage rates of internalised settlement instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VolPctg" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VolumePercentage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the rate, in terms of volume, of the failed internalised settlement instructions compared to the total volume, of internalised settlement instructions performed (settled and failed) during the period covered by the report.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Val" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the rate, in terms of value, of the failed internalised settlement instructions compared to the total value of internalised settlement instructions performed (settled and failed) during the period covered by the report.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InternalisationDataVolume1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InternalisationDataVolume1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Aggregated values and volumes of internalised settlements instructions for a specific type of financial instruments, type of transaction, type of clients, and cash transfers.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Vol" type="Max20PositiveNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Volume</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated volume of internalised settlement instructions, in terms of:&#13;
•	Failed transactions,&#13;
•	Settled transactions,&#13;
•	Total  transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Val" type="Max20PositiveDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated value of internalised settlement instructions, in terms of:&#13;
•	Failed transactions,&#13;
•	Settled transactions,&#13;
•	Total  transactions,&#13;
•	Percentage rate.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IssuerCSDIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IssuerCSDIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the identification of the issuer CSD (central securities depository).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification code of the Issuer CSD, using LEI; Legal Entity Identifier (LEI) is a code allocated to a party as described in ISO 17442 'Financial Services - Legal Entity Identifier (LEI)'.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FrstTwoCharsInstrmId" type="Exact2UpperCaseAlphaText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FirstTwoCharactersInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the jurisdiction relevant for the financial instrument based on the first two characters of its instrument identification code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the country code of the Issuer CSD, using ISO 3166 2-character code. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IssuerCSDReport1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IssuerCSDReport1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies each issuer CSD (central securities depository) included in the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="IssuerCSDIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the issuer CSD (central securities depository) for which data is reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OvrllTtl" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OverallTotal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Overall aggregated total value and volume of &#13;
- settled and failed and total of internalised settlement instructions, and&#13;
- failed rate of internalised settlement instructions&#13;
performed during the period covered by the report, for all financial instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FinInstrm" type="SettlementInternaliserFinancialInstrument1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification of financial instrument covering the types of financial instruments as defined in the relevant regulation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxTp" type="SettlementInternaliserTransactionType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification of securities movements according to the categories defined in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClntTp" type="SettlementInternaliserClientType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification of a settlement internaliser's clients as referred to in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlCshTrf" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalCashTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Covers cash payments related to securities transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max2048Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 2048 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max20PositiveDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max20PositiveNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, for example, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The collection of information which identifies a specific phone or FAX number as defined by telecom services.
It consists of a "+" followed by the country code (from 1 to 3 characters) then a "-" and finally, any combination of numbers, "(", ")", "+" and "-" (up to 30 characters).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementInternaliser1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementInternaliser1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the submitting entity and Settlement Internaliser of the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SettlementInternaliserIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the submitting entity and settlement Internaliser of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OvrllTtl" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OverallTotal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Overall aggregated total value and volume of &#13;
- settled and failed and total of internalised settlement instructions, and&#13;
- failed rate of internalised settlement instructions&#13;
performed during the period covered by the report, for all financial instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FinInstrm" type="SettlementInternaliserFinancialInstrument1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification of a financial instrument according to the categories defined in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxTp" type="SettlementInternaliserTransactionType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification of securities movements according to the categories defined in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClntTp" type="SettlementInternaliserClientType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification of a settlement internaliser's clients as referred to in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlCshTrf" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalCashTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Covers cash payments related to securities transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserClientType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementInternaliserClientType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Natural or legal person to whom an investment firm provides investment or ancillary services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Prfssnl" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Professional</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Professional clients as defined in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rtl" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Retail</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clients other than professional clients.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserFinancialInstrument1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementInternaliserFinancialInstrument1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of financial instruments that are initially recorded or centrally maintained in CSDs (central securities depositories) as defined in the relevant regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Eqty" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Equity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Shares in companies and other securities equivalent to shares in companies, partnerships or other entities, and depositary receipts in respect of share.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SvrgnDebt" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SovereignDebt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debt instrument issued by a sovereign issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bd" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bond</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bonds other than sovereign debt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrTrfblScties" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherTransferableSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities meeting the criteria laid down in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgTradgFnds" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeTradingFunds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to a fund of which at least one unit or share class is traded throughout the day on at least one trading venue and with at least one market maker which takes action to ensure that the price of its units or shares on the trading venue does not vary significantly from its net asset value and, where applicable, from its indicative net asset value, as referred to in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CllctvInvstmtUdrtkgs" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollectiveInvestmentUndertakings</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Units in collective investment undertakings, other than ETFs.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MnyMktInstrm" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MoneyMarketInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Money market instruments other than sovereign debts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EmssnAllwnc" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmissionAllowance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to emission allowances which are tradable according to the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrFinInstrms" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherFinancialInstruments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Covers any financial instruments not covered as a dedicated category.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementInternaliserIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the identification of the settlement internaliser.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification code of the settlement internaliser; Legal Entity Identifier (LEI) is a code allocated to a party as described in ISO 17442 'Financial Services - Legal Entity Identifier (LEI)'.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnsblPrsn" type="ContactDetails4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePerson</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the liaison at the Settlement Internaliser.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the country code of the place of establishment of the Settlement Internaliser (i.e. head-office), relating to the data that the report concerns, using ISO 3166 2-character code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="Exact2UpperCaseAlphaText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BranchIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the code of the place of operation of the settlement internaliser (that is the branch), relating to the data that the report concerns.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserReportHeader1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementInternaliserReportHeader1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies parameters of the report </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the reporting timestamp, when the report was submitted from the Settlement Internaliser to the Competent Authority.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptgDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Last day of the reporting period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ccy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the currency of the reported transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptSts" type="TransactionOperationType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the status of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserReportV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementInternaliserReportV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The SettlementInternaliserReport message is sent by the settlement internalisers to the relevant competent authority to report aggregated information on all securities transactions that they settle outside securities settlement systems, on a quarterly basis. The report contains aggregated information on the value and volume of all internalised settlement instructions (settled and failed) that have been performed during the period covered by the report, for financial instruments, types of transactions, types of clients and cash transfers.&#13;
&#13;
Usage: &#13;
This report may be used by settlement internalisers to provide aggregated information (volume and value) on internalised settlement instructions (settled and failed) to their competent authorities.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptHdr" type="SettlementInternaliserReportHeader1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies parameters of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmIntlr" type="SettlementInternaliser1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementInternaliser</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the settlement internaliser for which data is reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="IssrCSD" type="IssuerCSDReport1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies each issuer CSD (central securities depository) included in the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInternaliserTransactionType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementInternaliserTransactionType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated data per transaction type for a settlement internaliser.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SctiesBuyOrSell" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBuyOrSell</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Purchase or sale of securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CollMgmtOpr" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralManagementOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to securities transfers aiming to provide or to return collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesLndgOrBrrwg" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesLendingOrBorrowing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to a securities lending or borrowing operation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RpAgrmt" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RepurchaseAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Repurchase transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrTxs" type="InternalisationData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherTransactions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Covers any securities transactions type not covered as a dedicated type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionOperationType4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the transaction operation action type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEWT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a new transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amendment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction amends a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction requests the deletion/cancellation of a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
