schema/csdr7m.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: ESMA
Collection: CSDR - Settlement Fails - Article 7 Reporting
Usage Guideline: CSDR - Settlement Fails - Article 7 Reporting - SettlementFailsMonthlyReportV01_auth.100.001.01
Base Message: auth.100.001.01
Date of publication: 05 February 2020
URL: https://www2.swift.com/mystandards/#/mp/mx/_Ee_WEEf9EeqVRqWy7PaMdg/_Ejh350f9EeqVRqWy7PaMdg
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2020-02-05T10:52:54+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.100.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.100.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyCode_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EUR</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Contact9__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Contact9__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details of the contact person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the party, such as a person or a team, responsible for the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhneNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Phone number of the person responsible for the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EmailAdr" type="Max256Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmailAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Electronic mail (e-mail) address of the of the person responsible for the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fctn" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Function</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Function of the person responsible for the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriod2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriod2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SttlmFlsMnthlyRpt" type="SettlementFailsMonthlyReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINOct2015Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max2048Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 2048 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max20PositiveDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max20PositiveNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max256Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2Fraction1NonNegativeNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max2Fraction1NonNegativeNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a non negative decimal number, for example 1.1 or 8.0.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="1"/>
            <xs:totalDigits value="2"/>
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9.9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max2NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 2 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the suffix of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, that is, in hundredths, for example, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The collection of information which identifies a specific phone or FAX number as defined by telecom services.
It consists of a "+" followed by the country code (from 1 to 3 characters) then a "-" and finally, any combination of numbers, "(", ")", "+" and "-" (up to 30 characters).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedSystemIdentificationMax24Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedSystemIdentificationMax24Text</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}[A-Z]{2,2}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesSettlementSystemIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementSystemIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the securities settlement system used in a settlement process.&#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SysId" type="RestrictedSystemIdentificationMax24Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SysNm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtryOfJursdctn" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfJurisdiction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country code for the jurisdiction in which the CSD is established.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CSDLglNm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDLegalName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Corporate name of the CSD.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity identification of the CSD operating the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnsblPty" type="Contact9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsibleParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party (such as a person or a team) responsible for the report sent by the CSD.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification19</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDailyFailureReason1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDailyFailureReason1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the settlement failure reason as defined in the relevant regulation or explicit no data report..</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Data" type="SettlementDailyFailureReason3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Data</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated data of settlement instructions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDailyFailureReason3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDailyFailureReason3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the settlement failure reason as defined in the relevant regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FaildScties" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailedSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fails due to lack of securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaildCsh" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailedCash</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fails due to lack of cash.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDataRate2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDataRate2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the volume and value percentage rates of settlement instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Vol" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Volume</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the rate, in terms of volume, of the failed settlement instructions compared to the total volume, of settlement instructions performed (settled and failed) during the period covered by the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Val" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the rate, in terms of value, of the failed settlement instructions compared to the total value of settlement instructions performed (settled and failed) during the period covered by the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDataVolume2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDataVolume2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Aggregated values and volumes of settlements instructions for a specific type of financial instruments, type of transaction, type of clients, and cash transfers.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Vol" type="Max20PositiveNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Volume</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated volume of settlement instructions, in terms of failed, settled transactions and total transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Val" type="Max20PositiveDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated value of settlement instructions, in terms of failed, settled transactions and total transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsCurrency2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsCurrency2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details on the settlement fails per currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ccy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency of the cash counter value specified in a settlement instruction.&#13;
&#13;
Usage: this is the currency in which the aggregate values have to be reported for the settlement fails per currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Data" type="SettlementTotalData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Data</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated data of all settlement transactions per currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsDailyCSD1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsDailyCSD1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details on the settlement fails split per intra-CSD and cross-CSD instructions or explicit no data report.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Data" type="SettlementFailsDailyCSD3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Data</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated data of settlement instructions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementFailsDailyCSD3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsDailyCSD3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details on the settlement fails split per intra-CSD and cross-CSD instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IntraCSD" type="SettlementFailsDailyInstructionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntraCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intra-CSD settlement instructions data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CrossCSD" type="SettlementFailsDailyInstructionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cross-CSD settlement instructions data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsDailyData3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsDailyData3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details for a specific date on the daily data on settlement fails instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptgDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date for each reporting day in the month.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DalyRcrd" type="SettlementFailsDailyInstrument3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DailyRecord</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data related to the failed settlement instructions for the reporting date.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsDailyInstructionType1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsDailyInstructionType1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details on the settlement fails split per instruction types or explicit no data report..</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Data" type="SettlementFailsDailyInstructionType3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Data</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated data of settlement instructions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementFailsDailyInstructionType3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsDailyInstructionType3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details on the settlement fails split per instruction types.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DlvryVrssPmt" type="SettlementDailyFailureReason1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryVersusPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fails due to delivery versus payment (DVP) settlement transactions, covers both delivery versus payment and receive versus payment transactions. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DlvryWthPmt" type="SettlementDailyFailureReason1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryWithPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fails due to delivery with payment (DWP) settlement transactions, covers both delivery with payment (DWP) and receive with payment (RWP) transactions. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PmtFreeOfDlvry" type="SettlementDailyFailureReason1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentFreeOfDelivery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fails due to payment free of delivery (PFOD) settlement transactions, covers both debit payment free of delivery (DPFOD) and credit payment free of delivery (CPFOD) transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FreeOfPmt" type="SettlementDailyFailureReason1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FreeOfPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fails due to free of payment (FoP) settlement transactions, covers both deliver free of payment (DFoP) and receive free of payment (RFoP) transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsDailyInstrument3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsDailyInstrument3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of financial instruments that are initially recorded or centrally maintained in CSDs (central securities depositories) as defined in the relevant regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Eqty" type="SettlementFailsDailyTransactionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Equity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Shares in companies and other securities equivalent to shares in companies, partnerships or other entities, and depositary receipts in respect of share.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SvrgnDebt" type="SettlementFailsDailyTransactionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SovereignDebt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debt instrument issued by a sovereign issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bd" type="SettlementFailsDailyTransactionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bond</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bonds other than sovereign debt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrTrfblScties" type="SettlementFailsDailyTransactionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherTransferableSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities meeting the criteria laid down in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgTraddFnds" type="SettlementFailsDailyTransactionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeTradedFunds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to a fund of which at least one unit or share class is traded throughout the day on at least one trading venue and with at least one market maker which takes action to ensure that the price of its units or shares on the trading venue does not vary significantly from its net asset value and, where applicable, from its indicative net asset value, as referred to in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CllctvInvstmtUdrtkgs" type="SettlementFailsDailyTransactionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollectiveInvestmentUndertakings</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Units in collective investment undertakings, other than ETFs.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MnyMktInstrm" type="SettlementFailsDailyTransactionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MoneyMarketInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Money market instruments other than sovereign debts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EmssnAllwnc" type="SettlementFailsDailyTransactionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmissionAllowance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to emission allowances which are tradable according to the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="SettlementFailsDailyTransactionType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Covers any financial instruments not covered as a dedicated category.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsDailyTransactionType1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsDailyTransactionType1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the transaction type as defined in the relevant regulation or explicit no data report.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Data" type="SettlementFailsDailyTransactionType3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Data</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated data of settlement instructions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementFailsDailyTransactionType3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsDailyTransactionType3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the transaction type as defined in the relevant regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SctiesBuyOrSell" type="SettlementFailsDailyCSD1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBuyOrSell</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Purchase or sale of securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CollMgmtOpr" type="SettlementFailsDailyCSD1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralManagementOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to securities transfers aiming to provide or to return collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesLndgOrBrrwg" type="SettlementFailsDailyCSD1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesLendingOrBorrowing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to a securities lending or borrowing operation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RpAgrmt" type="SettlementFailsDailyCSD1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RepurchaseAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Repurchase transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="SettlementFailsDailyCSD1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Covers any securities transactions type not covered as a dedicated type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsData3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsData3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated data of settlement fails instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ttl" type="SettlementTotalData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Total</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total of all types of settlement transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PtcptInFail" type="SettlementFailsParticipantRange1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ParticipantInFail</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details on the central securities depositories participants with the highest rates of settlement fails.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FlsPerCcy" type="SettlementFailsCurrency2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailsPerCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details on the settlement fails per currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FlsPerFinInstrmTp" type="SettlementFailsInstrument2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailsPerFinancialInstrumentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details on the settlement fails per financial instrument type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesInFail" type="SettlementFailsSecuritiesRange1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesInFail</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details on the securities with the highest rates of settlement fails.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FlsPerTxTp" type="SettlementFailsTransactionType2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailsPerTransactionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details on the settlement fails per transaction type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlSttlmPnlties" type="SettlementDataVolume2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalSettlementPenalties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total of all types of settlement penalties (such as total of late matching and settlement fails).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FailrRsn" type="SettlementFailureReason3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailureReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details on the reason for the settlement fails.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsInstrument2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsInstrument2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of financial instruments that are initially recorded or centrally maintained in CSDs (central securities depositories) as defined in the relevant regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Eqty" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Equity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Shares in companies and other securities equivalent to shares in companies, partnerships or other entities, and depositary receipts in respect of share.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SvrgnDebt" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SovereignDebt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debt instrument issued by a sovereign issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bd" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bond</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bonds other than sovereign debt.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrTrfblScties" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherTransferableSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities meeting the criteria laid down in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgTraddFnds" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeTradedFunds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to a fund of which at least one unit or share class is traded throughout the day on at least one trading venue and with at least one market maker which takes action to ensure that the price of its units or shares on the trading venue does not vary significantly from its net asset value and, where applicable, from its indicative net asset value, as referred to in the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CllctvInvstmtUdrtkgs" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollectiveInvestmentUndertakings</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Units in collective investment undertakings, other than ETFs.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MnyMktInstrm" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MoneyMarketInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Money market instruments other than sovereign debts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EmssnAllwnc" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmissionAllowance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to emission allowances which are tradable according to the relevant legislation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Covers any financial instruments not covered as a dedicated category.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsMonthlyReportV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsMonthlyReportV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The SettlementFailsMonthlyReport is sent by central securities depository or by a central bank operating a securities settlement system to the CSD competent authority in its jurisdiction, to provide monthly and daily aggregated data on the number and the nature of settlement instructions which failed to settle on their intended settlement day. The report contains monthly and daily statistical information on the number and value of overall settlement instructions, settled instructions, and settlement fails that occurred during a specified period and within a given securities settlement system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptHdr" type="SettlementFailsReportHeader2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies parameters of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MnthlyAggt" type="SettlementFailsData3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MonthlyAggregate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated monthly volume and value of settled, failed, total of failed settlement instructions performed during the period covered by the report, for financial instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="31" minOccurs="1" name="DalyData" type="SettlementFailsDailyData3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DailyData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Daily data volume and value of settled, failed, total of failed settlement instructions performed during the period covered by the report, for financial instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsParticipant1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsParticipant1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details on the settlement fails per participant.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity identification of the participant in the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rank" type="Max2NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Ranking of the top participants with the highest rate of settlement fails.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Aggt" type="SettlementTotalData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Aggregate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated data of the settlement instructions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsParticipantRange1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsParticipantRange1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details of the participants with the highest volume and value ranking for settlement fails.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="HghstInVol" type="SettlementFailsParticipant1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HighestInVolume</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Participant with the highest volume of settlement fails.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="HghstInVal" type="SettlementFailsParticipant1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HighestInValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Participant with the highest value of settlement fails.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsReportHeader2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsReportHeader2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies parameters of the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the reporting timestamp, when the report was submitted from the CSD to the Competent Authority.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptgPrd" type="DatePeriod2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period covered by the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ccy" type="ActiveCurrencyCode_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the currency used to report the aggregated values of the transactions.&#13;
&#13;
Usage: this is the currency in which the values have to be reported, when no explicit currency is provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptSts" type="TransactionOperationType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the status of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesSttlmSys" type="SecuritiesSettlementSystemIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementSystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the securities settlement system used in a settlement process.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsSecurities1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsSecurities1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the settlement fails and the ranking for a specific financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rank" type="Max2NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Ranking of the top financial instruments with the highest rate of settlement fails.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsSecuritiesRange1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsSecuritiesRange1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the highest volume and value of settlement fails with a ranking by financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="HghstInVol" type="SettlementFailsSecurities1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HighestInVolume</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities with the highest volume of settlement fails.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="HghstInVal" type="SettlementFailsSecurities1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HighestInValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities with the highest value of settlement fails.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailsTransactionType2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailsTransactionType2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the transaction type as defined in the relevant regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SctiesBuyOrSell" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBuyOrSell</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Purchase or sale of securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CollMgmtOpr" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralManagementOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to securities transfers aiming to provide or to return collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesLndgOrBrrwg" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesLendingOrBorrowing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to a securities lending or borrowing operation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RpAgrmt" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RepurchaseAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Repurchase transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="SettlementTotalData1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Covers any securities transactions type not covered as a dedicated type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailureReason2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailureReason2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the settlement fails as defined in the relevant regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MainRsns" type="Max2048Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MainReasons</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Main reasons for settlement fails during the reporting period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EffcncyImprvmt" type="Max2048Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EfficiencyImprovement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measures to improve settlement efficiency.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementFailureReason3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementFailureReason3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the settlement fails as defined in the relevant regulation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AvrgDrtn" type="Max2Fraction1NonNegativeNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AverageDuration</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Average duration of settlement fails as number of days (difference between actual settlement date and intended settlement date, weighted for the value of the settlement fail).&#13;
&#13;
Usage: &#13;
Duration of fails is value based.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Desc" type="SettlementFailureReason2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed description of the failure reasons.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTotalData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementTotalData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated data of settlement instructions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sttld" type="SettlementDataVolume2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated volume and value of settlement instructions settled during the period covered by the report, for financial Instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Faild" type="SettlementDataVolume2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Failed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated volume and value of settlement instructions failed during the period covered by the report, for financial Instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ttl" type="SettlementDataVolume2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Total</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated total volume and value of settlement instructions performed (settled and failed) during the period covered by the report, for financial Instruments, types of transactions, types of clients and cash transfers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaildRate" type="SettlementDataRate2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailedRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate of failed settlement instructions compared to the total volume and value, of settlement instructions performed (settled and failed) during the period covered by the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTotalData1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementTotalData1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the aggregated data of settlement instructions or explicit no data report.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Data" type="SettlementTotalData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Data</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregated data of settlement instructions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionOperationType4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the transaction operation action type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEWT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a new transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amendment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction amends a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction requests the deletion/cancellation of a previously sent transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
